@import "tailwindcss";

:root {
  /* background */
  --color-bg-default: #f6f7f9;

  /* gray scale */
  --color-gray-dark: #656464;
  --color-gray-light: #ebecee;

  /* brand */
  --color-primary: #4278ff;

  /* accent */
  --color-accent-navy: #002c9a;
  --color-accent-sky: #d6e4fd;

  /* difficulty */
  --color-difficulty-high-bg: #e9c1bf;
  --color-difficulty-high-text: #a92b25;

  --color-difficulty-mid-bg: #f4f1b9;
  --color-difficulty-mid-text: #ada400;

  --color-difficulty-low-bg: #a7f1b0;
  --color-difficulty-low-text: #1e912c;

  
}

.bg-primary {
  background-color: var(--color-primary);
}

@keyframes shake {
  0% { transform: translateX(0) rotate(0deg); }
  20% { transform: translateX(-3px) rotate(-2deg); }
  40% { transform: translateX(3px) rotate(2deg); }
  60% { transform: translateX(-2px) rotate(-1deg); }
  80% { transform: translateX(2px) rotate(1deg); }
  100% { transform: translateX(0) rotate(0deg); }
}

.shake {
  animation: shake 0.4s ease-in-out;
}
