version: '3.8'

services:
  postgres:
      image: postgres:15-alpine
      container_name: postgres-dev
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: root
        POSTGRES_DB: csbokbok_db
      ports:
        - "5432:5432"
      volumes:
        - postgres-data:/var/lib/postgresql/data
      networks:
        - app-network
  backend-dev:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - DB_HOST=postgres
    depends_on:
      - postgres
    networks:
      - app-network

  frontend-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    env_file:
      - ./frontend/.env
    container_name: frontend-dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next  # .next 폴더도 컨테이너 것 사용
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_URL=http://localhost:8080  # backend API URL
      - WATCHPACK_POLLING=true  # 파일 변경 감지 (Docker에서 필요)
    depends_on:
      - backend-dev
    networks:
      - app-network

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge