version: '3.8'

services:
  # Backend (NestJS)
  backend:
    image: ${DOCKER_USERNAME}/server-app:latest
    env_file:
      - .env.server
    container_name: nestjs-backend
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
    networks:
      - app-network
    restart: unless-stopped
    volumes:
      - ./backend/logs:/app/logs

  # Frontend (Next.js)
  frontend:
    image: ${DOCKER_USERNAME}/client-app:latest
    env_file:
      - .env.server
    container_name: nextjs-frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - API_URL=http://backend:8080/api
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  # Nginx Reverse Proxy
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # - ./nginx/ssl:/etc/nginx/ssl:ro 
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge